.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}

.main {
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: 200px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  left: 0px;
  overflow: auto;
  background-color: darkslategrey;
}

.sidebar a {
  font-size: 22px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #0085aa;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.columns-1-2 {
  grid-column: 1 / 3;
}

.auth-page {
  margin: 50px;
}

.auth-form {
  place-items: center;
}

.auth-form input {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.auth-form select {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.auth-form button {
  width: 200px;
  height: 40px;
  background-color: #61dafb;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.auth-form button:hover {
  background-color: #22c2ee;
}

.auth-form button:active {
  background-color: #0085aa;
}

.org-form {
  place-items: center;
}

.org-form input {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.org-form select {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.org-form button {
  width: 200px;
  height: 40px;
  background-color: #61dafb;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.org-form button:hover {
  background-color: #22c2ee;
}

.org-form button:active {
  background-color: #0085aa;
}

.announcement-box {
  position: fixed;
  height: 100px;
  left: 200px;
  right: 0px;
  background-color: dimgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 18px;
}

.announcement-card {
  margin: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.announcements-page {
  place-items: center;
}

.announcements-page input {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

.announcements-page select {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements-page button {
  width: 200px;
  height: 40px;
  background-color: #61dafb;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}